.container{
    display: flex;
    gap: 20px;
}

.box{
    background-color: slateblue;
    padding: 20px;
    border-radius: 20px;
}

.item{
    width: 200px;
    width: 100px;
    border: 2px solid tomato;
    background-color: aquamarine;
}

.container-2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (max-width: 576px) {
    .container{
        flex-direction: column;
    }
}

